@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-25);
    font-family: 'Poppins';

}

.form--container {
    display: grid;
    justify-items: center;
    align-items: center;
    border-style: none;
    border-radius: 13px;
    padding: 30px;
    background-color: var(--light-100);
    box-shadow: var(--shadow-1);

}

.createAccount--head {
    font-size: var(--h4);
    font-weight: 100px;
    color: var(--dark-100);
    font-weight: bold;
}

.createAccount--subhead {
    font-size: var(--h7);
    color: var(--dark-75);
}

.register__form {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 90%;
    margin: auto;
    gap: 20px;
}

.register__form label {
    display: block;
    font-size: var(--h8);
    font-weight: 500;
}
.register__form input {
    width: 100%;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--purple-100);
    padding-left: 20px;
}

.already__account--container {
    padding-top: 20px;
}

.login__link--btn {
text-decoration: none;
color: var(--purple-100);
font-size: var(--h7);
font-weight: 500;
}
